@import '../../../../assets/scss/variables';

.products-container{
  padding: 3rem;
  background-color: $secondary-color-opacity;

  h1{
    color: white;
  }

  .product-card{
    
    .product-body{
      border: 1px solid $primary-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 15rem;
      padding: 2rem;
      background-color: white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  
  .product-img{
    height: 15rem;
    
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  .product-name {
    font-weight: 505;
    font-size: 1.25rem;
    font-family: 'Montserrat';
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  .product-description {
    line-height: 1.2;
    font-family: 'Montserrat';
    overflow-y: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 0.8rem;
  }
  .product-price{
    cursor: pointer;
  }
}
}