<div class="menu">
  <div class="container">
    <div class="d-flex">
      <img class="menu__logo" src="assets/img/iso-white-orange.png" alt="">
    </div>
    <ul class="menu__links">
      <li>
        <a class="font-weight-cliff-bold" href="#news">MEMBRESÍAS</a>
      </li>
      <li>
        <a class="font-weight-cliff-bold" href="#contact">PRODUCTOS</a>
      </li>
      <li>
        <a class="font-weight-cliff-bold" href="#contact">BLOG</a>
      </li>
      <li>
        <a class="font-weight-cliff-bold" href="#contact">CONTACTOS</a>
      </li>
    </ul>
    <div class="menu__login-btn">
      <button class="rounded-white-button py-2 px-3 font-weight-cliff-bold" href="#contact">INICIAR SESIÓN</button>
    </div>
  </div>
</div>

<div class="menu-mobile">
  <div class="container">
      <img class="menu-mobile__logo" src="assets/img/iso-white-orange.png" alt="">
      <div class="menu-mobile__toggler" (click)="menumobile = !menumobile">
        <i-feather name="menu" class="big"></i-feather>
      </div>
  </div>
  <ul class="menu-mobile__links" [ngClass]="{'d-none' : menumobile }">
    <li>
      <a href="">MEMBRESIAS</a>
    </li>
    <li>
      <a href="">PRODUCTOS</a>
    </li>
    <li>
      <a href="">BLOG</a>
    </li>
    <li>
      <a href="">CONTACTOS</a>
    </li>
    <li>
      <a href="">INICIAR SESION</a>
    </li>
  </ul>
</div>
