<div class="titulo-blog">
  <div class="container p-5">
    <div class="titulo-blog__title-container">
      <div>
        <div class="text-white">
          <small>
          BLOG TÍTULO/CTA
        </small>
        <h3>
          Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit,
          sed diam nonummy.
        </h3>
        <p>
          Vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto.
        </p>
      </div>
    </div>
    <img class="titulo-blog__icon" style="transform: rotate(30deg);" src="/assets/img/iso-white-purple.png" />
    </div>
  </div>
</div>
