<div class="row mt-2" style="height: 80vh;">
  <div class="col-sm-12" style="padding: 5rem;">
    <div class="background-primary h-100 row text-white">
      <div class="col-7 p-5" style="font-size:1.5rem;">
        BLOG TÍTULO/CTA
      </div>
      <div class="col-7 p-5" style="font-size:2rem;">
        Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit,
        sed diam nonummy.
      </div>
      <div class="col-7 p-5" style="font-size:1.5rem;">
        Vel illum dolore eu feugiat nulla facilisis at
        vero eros et accumsan et iusto.
      </div>
    </div>
  </div>
</div>
