<div class="titulo-blog">
  <div class="container p-5">
    <div class="titulo-blog__title-container">
      <div>
        <div class="text-white">
          <small>
          BLOG Luminis
        </small>
        <h3>
          Recibe promociones, noticias y mantente al día con información relevante
        </h3>
        <p>
          Suscríbete ahora, cancela cuando quieras.
        </p>
        <div class="form-newsletter">
          <input style="margin:0" type="text" placeholder="Correo">
          <input type="text" placeholder="Nombre">
          <button>Subscribirte</button>
        </div>
      </div>    
    </div>
    <img class="titulo-blog__icon" src="/assets/img/img_newsletter.png" />
    </div>
  </div>
</div>
