<div class="d-flex" style="min-height: 80vh;">
  <div class="col-12 d-flex" style="padding: 5rem;">
    <div class="background-red h-100 w-100 d-flex flex-wrap justify-content-center text-white">
      <div class="col-8">
        <div class="ps-5 pt-5" style="font-size:1.5rem;">
          TALLERES Y CURSOS
        </div>
        <div class="ps-5 pt-3 pb-2" style="font-size:2.3rem;">
          ¡Es hora de crecer!
        </div>
        <div class="ps-5 pt-5" style="font-size:1.5rem;">
          Vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto.
        </div>
        <div *ngIf="!logged_in" class="ps-5 pt-5 d-flex align-items-center">
          <a
            routerLink="/about"
            class="d-flex rounded-white-button px-3 py-2 text-decoration-none justify-content-between align-items-center"
            style="width:17rem;">
            <span class="font-weight-cliff-bold text-large">INICIA SESIÓN</span>
            <i-feather name="arrow-right"></i-feather>
          </a>
        </div>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center">
        <img style="height: 10rem; transform: rotate(-30deg);" src="/assets/img/iso-white-orange.png" />
      </div>
    </div>
  </div>
</div>
