<div class="carousel-block">
  <owl-carousel-o [options]="carrouselOptions">
    <ng-template carouselSlide>
      <div class="container carousel-container">
        <div class="row">
          <div class="col-12 col-md-6">
            <img class="carousel-img" src="/assets/img/img-sitio-02.png" alt="">
          </div>
          <div class="col-12 col-md-6 d-flex align-items-center text-white">
            <h1 class="carousel-title">Te damos la bienvenida a nuestro espacio seguro.</h1>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
