/* media querys */
$mobile: 440px;
$tablet: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;
$desktop-lg: 1400px;
$desktop-xl: 1900px;

/* colors */
$primary-color: rgb(192,185,221);
$primary-color-opacity: rgba(192,185,221,0.3);
$secondary-color: rgb(17,138,178);
$secondary-color-opacity: rgba(17,138,178, 0.3);
$secondary-color-opacity-50: rgba(17,138,178, 0.5);
$third-color: rgb(117,201,200);
$third-color-opacity: rgba(117,201,200, 0.3);
$red-color: rgb(247,142,105);
$red-color-opacity: rgba(247,142,105, 0.3);
$white:#f2f2f2;
$dark: #000000;

//font weights
$regular: 'GreycliffCFRegular';
$bold: 'GreycliffCFBold';