<div class="blog">
  <div class="container-fluid blog__header">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="blog__header-txt">
          <h6>{{formattedDate}}</h6>
          <h1>{{blog.title}}</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, cupiditate! Ratione corporis
            voluptatibus facilis culpa corrupti ex perspiciatis sed, quae est aut ullam distinctio fuga beatae
            reiciendis magni qui repellat?</p>
        </div>
      </div>
      <div class="col-12 col-md-6 px-0">
        <img class="blog__header-img" src="assets/img/bg.webp" alt="">
      </div>
    </div>
  </div>
  <div class="container blog__post">
    <h6>{{blog.author}}</h6>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, cupiditate! Ratione corporis voluptatibus
      facilis culpa corrupti ex perspiciatis sed, quae est aut ullam distinctio fuga beatae reiciendis magni qui
      repellat?</p>

    <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia veritatis aperiam aspernatur reiciendis, hic
      dolorem!</q>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptatum neque fugiat modi pariatur ipsam
      suscipit! Recusandae nemo temporibus harum molestiae ipsum qui dolores magni quo. Exercitationem, dolorum vero
      nihil porro quo voluptates. Neque saepe a dolor. Illo, quod ex?</p>

    <img class="blog__post-img" src="assets/img/bg.webp" alt="">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsum id ducimus doloribus repellendus ad qui? Ex
      fugit labore nulla. Excepturi, dolores debitis! Minima omnis quidem, excepturi velit expedita numquam? Nisi
      distinctio odit blanditiis deleniti asperiores possimus pariatur laudantium eius!</p>
  </div>
  <app-landing-entries-section [blogsort]="blogpages"></app-landing-entries-section>
</div>
