<div class="profile">
  <div class="container">
    <h2 class="mt-2"><strong>Mi Perfil</strong></h2>
    <div class="row mt-3">
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="profile__photo">
              <img loading="lazy" src="{{photo.photo_url}}" alt="" class="rounded-circle h-4 image-200" style="border: 1px solid #333333;">
              <div class="w-100 p-3 d-flex align-items-center justify-content-center">
                <button (click)="openUpdatePhotoModal(updatephotocontent)" class="rounded-large-primary-button py-2 px-3 font-weight-cliff-bold" style="width: auto;border:none;">
                  Cambiar avatar
                </button>
              </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 px-2">
          <div class="profile__user-data">
            <div class="w-100"><p class="font-weight-bold"><strong>{{ profile.name }} {{ profile.midlename }} {{ profile.lastname }}</strong></p></div>
            <div class="w-100"><p class="font-weight-bold">{{ profile.birthdate }}</p></div>
            <div class="w-100"><p class="font-weight-bold">{{ profile.email }}</p></div>
            <div class="w-100"><p class="font-weight-bold">{{ profile.phone }}</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex align-items-center flex-column py-3 justify-content-center">
      <button (click)="openUserInfoModal(userinfo)" class="rounded-large-primary-button py-2 px-3 font-weight-cliff-bold" style="border:none;">
        Editar Información
      </button>
      <button (click)="openUpdatePasswordModal(updatepasswordcontent)" class="rounded-large-secondary-button py-2 px-3 mt-2 font-weight-cliff-bold" style="border:none;">
        Actualizar contraseña
      </button>
      <button (click)="doLogout()" class="rounded-large-third-button py-2 px-3 mt-2 font-weight-cliff-bold" style="width:17rem;border:none;">
        Cerrar sesión
      </button>
    </div>
  </div>
  <div class="row mt-3 border-top">
    <h3 class="mt-2"><strong>Mis membresías</strong></h3>
    <div class="container mt-5">
      <div class="card w-100" *ngFor="let membresia of membresias">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div class="col-lg-4 d-flex flex-wrap justify-content-center text-center">
            <h4><strong>{{ membresia.name }}</strong></h4>
            <div class="w-100"><p>Suscripción {{ membresia.period }}</p></div>
          </div>
          <div class="col-lg-4 d-flex flex-column">
            <div><strong>Suscrito desde:</strong> {{ membresia.since | date:'dd/MM/YYYY' }}</div>
            <div><strong>Siguiente cobro:</strong> {{ membresia.nextBill | date:'dd/MM/YYYY' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 border-top">
    <h3 class="mt-2"><strong>Mis talleres</strong></h3>
    <div class="container mt-5">
      <div class="card w-100" *ngFor="let membresia of membresias">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div class="col-lg-4 d-flex flex-wrap justify-content-center text-center">
            <h4><strong>Nombre del taller</strong></h4>
            <div class="w-100"><p>Descripción del taller</p></div>
          </div>
          <div class="col-lg-4 d-flex flex-column">
            <button class="rounded-large-primary-button py-2 px-3 font-weight-cliff-bold">
              Ver taller
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 border-top">
    <h3 class="mt-2"><strong>Mis pagos</strong></h3>
    <div class="w-100 px-4 mt-3">
      <h4 class="mt-2"><strong>Historial</strong></h4>
      <div class="w-100">
        <table class="table table-responsive table-stripped">
          <thead>
            <th>Item</th>
            <th>Fecha</th>
            <th>Costo</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of paymentsHistory">
              <td>{{ item.item }}</td>
              <td style="width: 10rem;">{{ item.date | date:'dd/MM/YYYY' }}</td>
              <td style="width: 10rem;">MXN ${{ item.ammount | number:'.2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-4 border-top">
    <h3 class="mt-2"><strong>Mis comentarios y preguntas</strong></h3>
    <div class="w-100 px-4 mt-3">
      <div class="w-100">
        <table class="table table-responsive table-stripped">
          <thead>
            <th>Comentario / Pregunta</th>
            <th>Taller</th>
            <th>Respuesta</th>
          </thead>
          <tbody>
            <tr *ngFor="let question of preguntas">
              <td>{{ question.question }}</td>
              <td style="width: 10rem;">{{ question.taller }}</td>
              <td style="width: 10rem;">
                <button class="rounded-large-secondary-button py-2 px-3 mt-2 font-weight-cliff-bold" style="border:none; width:auto;" data-toggle="modalRespuesta" data-target="#verRespuesta">
                  Ver respuesta
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<ng-template #updatephotocontent let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Cambiar avatar</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="update-photo-modal__avatar-list">
      <div class="update-photo-modal__img" *ngFor="let a of avatars" [ngClass]="{'selected' : a.id === profile.photo_id }" (click)="profile.photo_id = a.id">
        <img loading="lazy" src="{{a.photo_url}}" alt="" class="image-70">
      </div>
    </div>
	</div>
  <div class="my-container">
    <ng-template #customLoadingTemplate>
      <div class="custom-class">
        <h4>Por favor espere...</h4>
      </div>
    </ng-template>

    <ngx-loading
      [show]="loading"
      [config]="{ backdropBorderRadius: '3px' }"
      [template]="customLoadingTemplate"
    ></ngx-loading>
  </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="updateAvatar();">Guardar</button><!--modal.close('Save click')-->
	</div>
</ng-template>

<ng-template #updatepasswordcontent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-update-password-title">ACTUALIZAR CONTRASEÑA</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updatePasswordForm" autocomplete="off" novalidate>
      <div class="mb-3">
        <label for="password" class="form-label">Nueva contaseña</label>
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="" #password maxlength="50">
      </div>
      <div *ngIf="updatePasswordForm.controls['password'].invalid && (updatePasswordForm.controls['password'].dirty || updatePasswordForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="updatePasswordForm.controls['password'].errors?.['required']">
          Contraseña es requerida.
        </div>
        <div *ngIf="updatePasswordForm.controls['password'].invalid && password.value.length > 0">
          Contraseña inválida.
        </div>
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">Confirmar nueva contaseña</label>
        <input type="password" class="form-control" formControlName="password2" id="password2" placeholder="" #password2 maxlength="50">
      </div>
      <div *ngIf="updatePasswordForm.controls['password2'].invalid && (updatePasswordForm.controls['password2'].dirty || updatePasswordForm.controls['password2'].touched)" class="alert alert-danger">
        <div *ngIf="updatePasswordForm.controls['password2'].errors?.['required']">
          Debe confirmar su contraseña.
        </div>
        <div *ngIf="updatePasswordForm.controls['password2'].invalid && password2.value.length > 0 && !updatePasswordForm.get('password2').hasError('isSame')">
          Confirmación de contraseña inválida.
        </div>
        <div *ngIf="updatePasswordForm.get('password2').hasError('isSame') && password2.value.length > 0">
          Contraseñas no coinciden.
        </div>
      </div>
    </form>
    <div class="my-container">
      <ng-template #customLoadingTemplate>
        <div class="custom-class">
          <h4>Por favor espere...</h4>
        </div>
      </ng-template>

      <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"
      ></ngx-loading>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" [disabled]="updatePasswordForm.pristine || updatePasswordForm.invalid" class="btn btn-outline-dark" (click)="doUpdatePassword(password.value)">Enviar</button>
  </div>
</ng-template>

<ng-template #userinfo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-edit-data-title">Editar Información</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateDataForm" autocomplete="off" novalidate>
      <div class="row mb-3">
        <div class="col-12">
          <label for="email" class="form-label">Correo</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="" #email maxlength="255">
        </div>
      </div>
      <div *ngIf="updateDataForm.controls['email'].invalid && (updateDataForm.controls['email'].dirty || updateDataForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="updateDataForm.controls['email'].errors?.['required']">
          Correo es requerido.
        </div>
        <div *ngIf="updateDataForm.controls['email'].invalid && email.value.length > 0">
          Correo inválido.
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="nombres" class="form-label">Nombre(s)</label>
          <input type="text" class="form-control" formControlName="nombres" id="nombres" placeholder="" #nombres maxlength="255">
        </div>
      </div>
      <div *ngIf="updateDataForm.controls['nombres'].invalid && (updateDataForm.controls['nombres'].dirty || updateDataForm.controls['nombres'].touched)" class="alert alert-danger">
        <div *ngIf="updateDataForm.controls['nombres'].errors?.['required']">
          Nombre(s) requerido.
        </div>
        <div *ngIf="updateDataForm.controls['nombres'].invalid && nombres.value.length > 0">
          Nombre(s) inválido(s).
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="apellidos" class="form-label">Apellido(s)</label>
          <input type="text" class="form-control" formControlName="apellidos" id="apellidos" placeholder="" #apellidos maxlength="255">
        </div>
      </div>
      <div *ngIf="updateDataForm.controls['apellidos'].invalid && (updateDataForm.controls['apellidos'].dirty || updateDataForm.controls['apellidos'].touched)" class="alert alert-danger">
        <div *ngIf="updateDataForm.controls['apellidos'].errors?.['required']">
          Apellido(s) requerido.
        </div>
        <div *ngIf="updateDataForm.controls['apellidos'].invalid && apellidos.value.length > 0">
          Apellido(s) inválido(s).
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
          <div class="input-group">
            <input class="form-control" formControlName="fecha_nacimiento" id="fecha_nacimiento" [minDate]="{year: 1920, month: 1, day: 1}" [maxDate]="{year: 2005, month: 1, day: 1}" [startDate]="{year: 2005, month: 1}" placeholder="dd/mm/yyyy" name="dp" [displayMonths]="1" [navigation]="'select'"
              [showWeekNumbers]="false" [outsideDays]="'visible'" ngbDatepicker #d="ngbDatepicker" #fecha_nacimiento readonly />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
              <i-feather name="calendar" class="feather-icons"></i-feather>
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="tel" class="form-control" formControlName="telefono" id="telefono" placeholder="" #telefono maxlength="10">
        </div>
      </div>
      <div *ngIf="updateDataForm.controls['telefono'].invalid && (updateDataForm.controls['telefono'].dirty || updateDataForm.controls['telefono'].touched)" class="alert alert-danger">
        <div *ngIf="updateDataForm.controls['telefono'].errors?.['required']">
          Teléfono es requerido.
        </div>
        <div *ngIf="updateDataForm.controls['telefono'].invalid && telefono.value.length > 0">
          Teléfono inválido.
        </div>
      </div>
    </form>
    <div class="my-container">
      <ng-template #customLoadingTemplate>
        <div class="custom-class">
          <h4>Por favor espere...</h4>
        </div>
      </ng-template>

      <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"
      ></ngx-loading>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="updateDataForm.pristine || updateDataForm.invalid" class="btn btn-outline-dark" (click)="doUpdateData(email.value, nombres.value, apellidos.value, telefono.value, fecha_nacimiento.value)">Guardar</button>
  </div>
</ng-template>


