<div class="conoce-mas">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-6">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center justify-content-center">
            <h1 class="mt-3"> Sobre </h1>
            <img src="/assets/img/logo-black.png" height="50rem;" />
          </div>
          <p style="font-size: 1.5rem">
            Conoce nuestro propósito y la historia detrás de este increíble camino hacia una mejor comunidad.
          </p>
          <a routerLink="/about"
            class="mt-5 d-flex rounded-large-primary-button px-3 py-2 text-decoration-none justify-content-between align-items-center">
            <span class="font-weight-cliff-bold text-large">CONOCE MÁS</span>
            <i-feather name="arrow-right"></i-feather>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 conoce-mas__img-col">
        <div class="">
          <img src="assets/img/img-sitio-01.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>