<div class="mt-2 px-5 background-blue-mutted" style="height: 40vh;">
  <div class="w-100 h-100 d-flex justify-content-between align-items-center">
    <div>
      <img style="height: 7rem;" src="/assets/img/logo-white.png"/>
    </div>
    <div>
      <div class="text-white w-100 text-end" style="font-size: 1.5rem">Derechos y condiciones</div>
      <div class="text-white w-100 text-end" style="font-size: 1.5rem">Dirección</div>
      <div class="text-white w-100 text-end" style="font-size: 1.5rem">Contacto</div>
    </div>
  </div>
</div>
