<div class="mt-5 px-5" style="min-height: 80vh;">
  <div class="w-100 row">
    <h1 class="mb-5 ">Formación</h1>
    <div class="col-sm-6 col-lg-4 px-4">
      <div class="product-img background-sky-blue-mutted" style="height: 12rem;">
      </div>
      <div class="product-name p-3">
        Título
      </div>
      <div class="product-description px-3 py-1">
        Descripción del producto. Lorem ipsum
        dolor sit amet. Consectetuer adipiscing
        elit, sed diam nonummy nibh.
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 px-4">
      <div class="product-img background-sky-blue-mutted" style="height: 12rem;">
      </div>
      <div class="product-name p-3">
        Título
      </div>
      <div class="product-description px-3 py-1">
        Descripción del producto. Lorem ipsum
        dolor sit amet. Consectetuer adipiscing
        elit, sed diam nonummy nibh.
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 px-4">
      <div class="product-img background-sky-blue-mutted" style="height: 12rem;">
      </div>
      <div class="product-name p-3">
        Título
      </div>
      <div class="product-description px-3 py-1">
        Descripción del producto. Lorem ipsum
        dolor sit amet. Consectetuer adipiscing
        elit, sed diam nonummy nibh.
      </div>
    </div>
  </div>
</div>
