<div class="lista-talleres">
  <div class="container">
    <div class="lista-talleres__filtros">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="search-filter mb-3">
              <label>
                Buscar
              </label>
              <div class="input-container">
                <input type="text" placeholder="BUSCA TU CURSO" aria-label="BUSCA TU CURSO"
                  aria-describedby="button-addon2" (keyup)="onKey($event)">
                <i-feather name="search" class="big"></i-feather>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="sort-filter mb-3">
              <label>
                Ordenar por:
              </label>
              <div ngbDropdown class="d-inline-block w-auto px-4 py-2 search-outline align-items-center">
                <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
                  {{displayMessage}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <div *ngFor="let option of sortOptions; let index = index">
                    <button class="dropdown-item" id="{{index}}"
                      on-click="changeMessage(option,index)">{{option}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lista-talleres__carousel-container">
      <owl-carousel-o [options]="talleresCarousel">
        <ng-template carouselSlide *ngFor="let curso of vmCurso" [width]="400">
          <div class="carousel__taller-slide">
            <div class="taller-img">
              <img src="assets/img/bg.webp" alt="">
            </div>
            <div class="taller-info">
              <h5 class="mb-2">
                {{ curso.name }}
              </h5>
              <p>
                {{ curso.description }}
              </p>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>

<!-- <div class="d-flex" style="min-height: 80vh;">
  <div class="w-100 px-5">
    <div class="d-flex w-100 px-4 pt-5">
      <ngb-carousel #carousel [interval]="0" class="w-100">
        <ng-template ngbSlide *ngFor="let s of slides">
          <div class="d-flex w-100 px-4 pt-5">
            <div *ngFor="let curso of s.cursos" class="col-sm-6 col-lg-4 p-3">
              <div class="product-img background-sky-blue-mutted" style="height: 12rem;">
              </div>
              <div class="product-name p-3">
                {{ curso.name }}
              </div>
              <div class="product-description px-3 py-1">
                {{ curso.description }}
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div> -->
