<div class="nuestra-mision">
  <div class="container">
      <div class="nuestra-mision__block-title">
        <span class="nuestra-mision__outline-btn">
          NUESTRA MISIÓN
        </span>
        <img class="nuestra-mision__logo" src="/assets/img/iso-white-orange.png" />
      </div>
      <div class="mt-5">
        <p class="text-white">
          Lorem ipsum dolor sit amet, consectetuer adipicing
          elit, sed diam nonummy nibh. esse molestie conse,
          vel illum dolore eu feugiat nulla facilisis at vero eros
          et accumsan et iusto odio dignissim
        </p>
      </div>
  </div>
