<div class="nuestra-mision">
  <div class="container">
      <div class="nuestra-mision__block-title">
        <span class="nuestra-mision__outline-btn">
          NUESTRA MISIÓN
        </span>
        <img class="nuestra-mision__logo" src="/assets/img/iso-white-orange.png" />
      </div>
      <div class="mt-5">
        <p class="text-white">
          Ser un espacio seguro lleno de material útil para fortalecer los procesos de autoconocimiento y autoregulación de forma propositiva y proactiva.
        </p>
      </div>
  </div>
