<div class="px-5 background-blue-mutted w-100" style="min-height: 90vh;">
  <div class="w-100 d-flex pt-5 flex-wrap justify-content-between align-items-center">
    <div class="mb-5 d-flex w-100 justify-content-between align-items-center">
      <div>
        <div class="outline-white-button px-5 py-2" style="font-size:1.6rem">
          NUESTRA MISIÓN
        </div>
      </div>
      <div>
        <img style="height: 6rem;" src="/assets/img/iso-white-orange.png"/>
      </div>
    </div>
    <div class="mt-5">
      <p class="text-white" style="font-size: 3rem;">
        Lorem ipsum dolor sit amet, consectetuer adipicing
        elit, sed diam nonummy nibh. esse molestie conse,
        vel illum dolore eu feugiat nulla facilisis at vero eros
        et accumsan et iusto odio dignissim
      </p>
    </div>
  </div>
</div>
