.product-name {
  font-weight: 505;
  font-size: 1.25rem;
  font-family: 'Montserrat';
}
.product-author {
  font-weight: 400;
  font-size: 0.8rem;
  font-family: 'Montserrat';
}
.product-description {
  font-family: 'Montserrat';
}
