<div class="historia">
  <div class="container-fluid historia__header">
    <div class="row">
      <div class="col-12 col-md-6 px-0">
        <img class="historia__header-img" src="assets/img/bg.webp" alt="">
      </div>
      <div class="col-12 col-md-6 background-primary">
        <div class="historia__header-txt">
          <h1>Historia</h1>
          <p [ngClass]="{'showmore': showmore}">
            Déjame contarte cómo y por qué estoy aquí. Como la mayoría de las personas en México, yo crecí y me eduqué en ambientes tradicionales en donde los objetivos eran: estudiar en “buenas escuelas”, ser “buena estudiante”, trabajar en una “buena compañía”, tener un “buen puesto” con “buen salario”, y eventualmente casarme y tener hijos. Trabajar en un corporativo internacional parecía cumplir las expectativas de todo el mundo a mi alrededor pero soy de ese número limitado de personas que se detienen en el camino y se preguntan: ¿es realmente esto lo que quiero? La respuesta fue un claro y rotundo “no”. Y sin tener claro el resto del camino, emprendí la búsqueda de mi propósito y mi pasión.
          </p>
          <button class="d-flex rounded-white-button px-3 py-2 text-decoration-none justify-content-between align-items-center" (click)="showmore = !showmore">Continuar leyendo<i-feather name="chevrons-down"></i-feather></button>
        </div>
      </div>
    </div>
  </div>
</div>
