<div class="d-flex" style="height: 80vh;">
  <div class="col-sm-12 col-lg-6 d-flex align-items-start justify-content-center h-100 flex-column">
    <div class="d-flex px-4 flex-wrap align-items-center">
      <h1 class="mt-3"> Conoce </h1> &nbsp;
      <img src="/assets/img/logo-black.png" height="50rem;" />
    </div>
    <p class="mt-5 px-4" style="font-size: 1.5rem">
      Lorem ipsum dolor sit amet, consectetuer
      adipiscing elit, sed diam nonummy nibh.
      esse molestie consequat, vel illum dolore
      eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.
    </p>
  </div>
  <div class="col-sm-12 col-lg-6 background-mutted">
    &nbsp;
  </div>
</div>
