@import '../../../../assets/scss/variables';

.nuestra-mision{
    .nuestra-mision__header{
        h1{
            font-family: $regular;
        }
        
        .nuestra-mision__header-txt{
            padding: 2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: auto;

            @media screen and (min-width: $tablet) {
                width: 90%;
            }

            >div{
                display: flex;
                align-items: center;
                margin-bottom: 2rem;

                h1{
                    margin-top: 0.5rem;
                    margin-bottom: 0;
                }
            }

            p{
                font-size: 1.5rem;
            }

            .nuestra-mision__header-logo{
                height: 3.5rem;
                margin-left: 0.5rem;
            }
        }

        .background-mutted{
            display: flex;
            align-items: center;
        }
        .nuestra-mision__header-img{
            /* height: 30rem; */
            width: 100%;
            object-fit: cover;
            padding: 2rem;
    }

    }
}