<div class="nuestra-mision">
  <div class="container-fluid nuestra-mision__header">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="nuestra-mision__header-txt">
          <div>
            <h1 class="mt-3">Conoce</h1>
            <img src="/assets/img/logo-black.png" class="nuestra-mision__header-logo">
          </div>
          <p>
            Luminis es una plataforma creada con la firme intención de ser una luz en el camino de todos aquellos que enfrentan o acompañan a alguien con depresión y/o ansiedad. 
            <br><br>
            Cuando el mundo se ve profundamente oscuro, las luciérnagas son breves destellos de esperanza e indican que hay vida, hay posibilidades, hay un camino. 
            <br><br>
            Aquí encontrarás esos destellos en forma de material de apoyo para reforzar procesos de autoconocimiento, autorregulación y autogestión emocional.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6 px-0 background-mutted">
        <img class="nuestra-mision__header-img" src="assets/img/img-sitio-03.png" alt="">
      </div>
    </div>
  </div>
</div>
