
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'assets/scss/variables';
@import 'assets/scss/buttons';

body{
  height: 100vh;
  /* font-size: 1em; */
  font-family: "GreycliffCFRegular" !important;
}

html{
  a{
    color: inherit;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
      color: $primary-color;
    }
  }
  ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  button{
    border: none;
    box-shadow: none;
  }
  h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    font-family: $bold;
  }
  h5,h6{
    margin: 0;
    padding: 0;
  }
}

* {
  font-size: 14px;
  letter-spacing: 1px;
}

@font-face {
  font-family: 'GreycliffCFBold';
  src: url(assets/fonts/greycliff-cf/GreycliffCF-Bold.woff2);
}
@font-face {
  font-family: 'GreycliffCFDemiBold';
  src: url(assets/fonts/greycliff-cf/GreycliffCF-DemiBold.woff2);
}
@font-face {
  font-family: 'GreycliffCExtraBold';
  src: url(assets/fonts/greycliff-cf/GreycliffCF-ExtraBold.woff2);
}
@font-face {
  font-family: 'GreycliffCFHeavy';
  src: url(assets/fonts/greycliff-cf/GreycliffCF-Heavy.woff2);
}
@font-face {
  font-family: 'GreycliffCFLight';
  src: url(assets/fonts/greycliff-cf/GreycliffCF-Light.woff2);
}
@font-face {
  font-family: 'GreycliffCFMedium';
  src: url(assets/fonts/greycliff-cf/GreycliffCF-Medium.woff2);
}
@font-face {
  font-family: 'GreycliffCFRegular';
  src: url(assets/fonts/greycliff-cf/GreycliffCF-Regular.woff2);
}

.text-white{
  color: $white;
}

.text-red {
  color: $red-color;
}
.outline-white-button{
  border-color: $white;
  border: 1px solid;
  color: $white;
  border-radius: 2rem;
  font-size: 0.8rem;
}

.rounded-white-button{
  border-color: $white;
  color: $dark;
  border-radius: 2rem;
  font-size: 0.8rem;
  background-color: $white;
}

.rounded-large-primary-button {
  background-color: $primary-color;
  color: $white;
  border-radius: 2rem;
  font-size: 1rem;
  width: 17rem;
}
.rounded-large-secondary-button {
  background-color: $secondary-color;
  color: $white;
  border-radius: 2rem;
  font-size: 1rem;
  width: 17rem;
}
.rounded-large-third-button {
  background-color: $third-color;
  color: $white;
  border-radius: 2rem;
  font-size: 1rem;
  width: auto;
}
.rounded-large-white-button {
  background-color: $white;
  color: black;
  border-radius: 2rem;
  font-size: 1rem;
  width: auto;
}
.text-large{
  font-size:x-large;
}
.font-weight-cliff-bold{
  font-family: 'GreycliffCFBold';
}
.font-weight-montse-bold{
  font-family: 'GreycliffCFBold';
}
.background-mutted{
  background-color: $primary-color-opacity;
}
.background-blue{
  background-color: $secondary-color
}
.background-blue-mutted{
  background-color: $secondary-color-opacity;
}
.background-blue-mutted-50{
  background-color: $secondary-color-opacity-50;
}
.background-sky-blue{
  background-color: $third-color;
}
.background-sky-blue-mutted{
  background-color: $third-color-opacity;
}
.background-red{
  background-color: $red-color;
}
.background-red-mutted{
  background-color: $red-color-opacity;
}
.background-primary{
  background-color: $primary-color;
}
.background-primary-mutted{
  background-color: $primary-color-opacity;
}

.faqs{
  .accordion{

    .accordion-item{
        border: 0;
        border-bottom: 1px solid black;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        outline: 0;
        border-radius: 0;

        p{
          font-size: 1.3rem;
        }
        .accordion-button{
          span{
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.5rem;
          }

          &:focus{
            border: 0;
            box-shadow: none;
          }

          &:not(.collapsed){
            background-color:transparent;
            color: $primary-color;

            &::after{
              filter: brightness(0);
            }
          }
        }
    }
}
}

.custom-alerts{
  padding: 2rem 1rem 2rem 1rem !important;

  .swal2-icon{
    margin: 0 auto !important;
  }
}

.bold{
  font-family: $bold;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
   filter: invert(1);
}
.carousel-indicators {
  bottom: -10%;
}
