
<div class="checkout-block" *ngIf="!confirmar">
  <div class="container">
    <div class="col-12">
      <div class="checkout__note">
        <div>
          <i-feather name="bell"></i-feather>
        </div>
        <div>
          <h5 class="mb-3">Confirmación previo a pago</h5>
          <p>Para garantizar tu compra, asegúrate de verificar que tus datos bancarios y personales sean ingresados correctamente.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-7 col-lg-8">
        <h2 class="mb-4">Detalle de compra</h2>
        <div class="checkout-block__items-detail">
          <div class="checkout-block__items">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="checkout-block__product-card">
                    <img src="{{datos.membership_url}}" alt="">
                    <p>{{datos.name}}</p>
                </div>
            </div>
            <!--<div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="checkout-block__product-card">
                    <img src="assets/img/bg.webp" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, harum!</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="checkout-block__product-card">
                    <img src="assets/img/bg.webp" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, harum!</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="checkout-block__product-card">
                    <img src="assets/img/bg.webp" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, harum!</p>
                </div>
            </div>-->
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-4">
        <h2 class="mb-4">Resumen de compra</h2>
        <div class="checkout-block__purchase-details">
          <div class="checkout-block__subtotal">
            <h6>Subtotal:</h6>
            <h5>${{datos.cost}}</h5>
          </div>
          <div class="checkout-block__discounts">
            <h6>Descuento:</h6>
            <h5>-${{descuento}}</h5>
          </div>
          <div class="checkout-block__total">
            <h3>Total:</h3>
            <h4>${{datos.cost}}</h4>
          </div>
        </div>
        <button *ngIf="!loading" class="btn l-btn-primary" (click)="openPaymentModal(paymentcontent)">Confirmar compra <i-feather
            name="chevron-right"></i-feather></button><!-- (click)="confirmar = !confirmar"-->
      </div>

    </div>
    <div class="row">

    </div>
  </div>
</div>

<div class="confirmation-block" *ngIf="confirmar">
  <div class="container">
    <div class="col-12">
      <div class="checkout__note">
        <div>
          <i-feather name="bell"></i-feather>
        </div>
        <div>
          <h5 class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quam ratione aliquam id, a saepe?
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, hic.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="confirmation-block__items-detail">
          <div class="confirmation-block__header">
            <h1 class="">Gracias por tu compra!</h1>
            <div>
              <i-feather name="check-circle"></i-feather>
            </div>
          </div>
          <div class="confirmation-block__items">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore enim veritatis molestias! Consequatur
              blanditiis, ratione excepturi ipsum, aperiam minima soluta sunt fuga fugit incidunt amet iusto culpa!
              Odio, ea ducimus.</p>
            <table class="mt-3 table table-responsive">
              <tbody>
                <tr>
                  <td class="bold" scope="col">Folio de compra:</td>
                  <td scope="col">{{folio}}</td>
                </tr>
                <tr>
                  <td class="bold" scope="col">Fecha:</td>
                  <td scope="col">{{operation_date | date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                  <td class="bold" scope="col">Importe por:</td>
                  <td scope="col">${{amount}}</td>
                </tr>
                <tr>
                  <td class="bold" scope="col">Método de pago:</td>
                  <td scope="col">{{type}}</td>
                </tr>
              </tbody>
            </table>
            <div class="confirmation-block__purchase-info">
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore enim veritatis molestias!</small>
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore enim veritatis molestias!
                Consequatur
                blanditiis, ratione excepturi ipsum, aperiam minima soluta sunt fuga fugit incidunt amet iusto culpa!
                Odio, ea ducimus.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="confirmation-block__links">
          <h4 class="mb-4">Información importante</h4>
          <ul>
            <li>
              <a href="#">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, nesciunt!
              </a>
            </li>
            <li>
              <a href="#">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, nesciunt!
              </a>
            </li>
            <li>
              <a href="#">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, nesciunt!
              </a>
            </li>
            <li>
              <a href="#">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, nesciunt!
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>

<ng-template #paymentcontent let-modal>
  <div class="modal-body p-0">
    <div class="bkng-tb-cntnt">
      <div class="pymnts">
        <form [formGroup]="paymentForm" autocomplete="off" novalidate id="paymentForm">
          <input type="hidden" name="token_id" id="token_id">
          <div class="pymnt-itm card active">
            <h2>Tarjeta de crédito o débito<button type="button" class="btn-close toRight" aria-label="Close" (click)="modal.dismiss('Cross click')" *ngIf="!loading"></button></h2>
            <div class="pymnt-cntnt">
              <div class="card-expl">
                <div class="credit"><h4>Tarjetas de crédito</h4></div>
                <div class="debit"><h4>Tarjetas de débito</h4></div>
              </div>
              <div class="sctn-row">
                <div class="sctn-col l">
                  <label>Nombre del titular</label>
                  <input type="text" formControlName="name" id="name" placeholder="Como aparece en la tarjeta" autocomplete="off" data-openpay-card="holder_name" #name maxlength="255">
                  <div *ngIf="paymentForm.controls['name'].invalid && (paymentForm.controls['name'].dirty || paymentForm.controls['name'].touched)" class="alert-danger">
                    <div *ngIf="paymentForm.controls['name'].errors?.['required']" class="red">
                      Nombre del titular requerido.
                    </div>
                    <div *ngIf="paymentForm.controls['name'].invalid && name.value.length > 0" class="red">
                      Nombre del titular inválido.
                    </div>
                  </div>
                </div>
                <div class="sctn-col">
                  <label>Número de tarjeta</label>
                  <input type="text" formControlName="card_number" id="card_number" autocomplete="off" data-openpay-card="card_number" #card_number (keypress)="numberOnly($event)" maxlength="16">
                  <div *ngIf="paymentForm.controls['card_number'].invalid && (paymentForm.controls['card_number'].dirty || paymentForm.controls['card_number'].touched)" class="alert-danger">
                    <div *ngIf="paymentForm.controls['card_number'].errors?.['required']" class="red">
                      Número de tarjeta requerido.
                    </div>
                    <div *ngIf="paymentForm.controls['card_number'].invalid && card_number.value.length > 0" class="red">
                      Número de tarjeta inválido.
                    </div>
                  </div>
                </div>
              </div>
              <div class="sctn-row">
                <div class="sctn-col l">
                  <label>Fecha de expiración</label>
                  <div class="sctn-col half l">
                    <input type="text" formControlName="month" id="month" placeholder="Mes" data-openpay-card="expiration_month" #month (keypress)="numberOnly($event)" maxlength="2">
                    <div *ngIf="paymentForm.controls['month'].invalid && (paymentForm.controls['month'].dirty || paymentForm.controls['month'].touched)" class="alert-danger">
                      <div *ngIf="paymentForm.controls['month'].errors?.['required']" class="red">
                        Mes requerido.
                      </div>
                      <div *ngIf="paymentForm.controls['month'].invalid && month.value.length > 0" class="red">
                        Mes inválido.
                      </div>
                    </div>
                  </div>
                  <div class="sctn-col half l">
                    <input type="text" formControlName="year" id="year" placeholder="Año" data-openpay-card="expiration_year" #year (keypress)="numberOnly($event)" maxlength="2">
                    <div *ngIf="paymentForm.controls['year'].invalid && (paymentForm.controls['year'].dirty || paymentForm.controls['year'].touched)" class="alert-danger">
                      <div *ngIf="paymentForm.controls['year'].errors?.['required']" class="red">
                        Año requerido.
                      </div>
                      <div *ngIf="paymentForm.controls['year'].invalid && year.value.length > 0" class="red">
                        Año inválido.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sctn-col cvv"><label>Código de seguridad</label>
                  <div class="sctn-col half l">
                    <input type="text" formControlName="cvv" id="cvv" placeholder="3 dígitos" autocomplete="off" data-openpay-card="cvv2" #cvv (keypress)="numberOnly($event)" maxlength="3">
                    <div *ngIf="paymentForm.controls['cvv'].invalid && (paymentForm.controls['cvv'].dirty || paymentForm.controls['cvv'].touched)" class="alert-danger">
                      <div *ngIf="paymentForm.controls['cvv'].errors?.['required']" class="red">
                        CVV requerido.
                      </div>
                      <div *ngIf="paymentForm.controls['cvv'].invalid && cvv.value.length > 0" class="red">
                        CVV inválido.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="openpay"><div class="logo">Transacciones realizadas vía:</div>
                <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256 bits</div>
              </div>
              <div class="sctn-row" *ngIf="!paymentForm.pristine && !paymentForm.invalid && !loading">
                <a class="button rght" id="pay-button" (click)="processPayment(name.value, card_number.value, month.value, year.value, cvv.value)">Pagar</a><!--[disabled]="paymentForm.pristine || paymentForm.invalid"-->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="my-container">
      <ng-template #customLoadingTemplate>
        <div class="custom-class">
          <h4>Por favor espere...</h4>
        </div>
      </ng-template>

      <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"
      ></ngx-loading>
    </div>
  </div>
</ng-template>
