@import '../../../assets/scss/variables';

.checkout__note {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 10px solid $primary-color;
  border-radius: 10px;
  padding: 2rem 1rem;
  margin-bottom: 5rem;
  -webkit-box-shadow: 10px 15px 22px -7px rgba(145, 145, 145, 0.7);
  -moz-box-shadow: 10px 15px 22px -7px rgba(145, 145, 145, 0.7);
  box-shadow: 10px 15px 22px -7px rgba(145, 145, 145, 0.7);

  @media screen and (min-width: $mobile) {
    flex-direction: row;
  }

  >div {

    &:first-child {
      i-feather {
        margin-right: 1.5rem;
        width: 3rem;
        height: 3rem;
      }
    }

    &:nth-child(2) {
      text-align: center;
      margin-top: 1rem;

      @media screen and (min-width: $mobile) {
        text-align: left;
        margin-top: 0;
      }

      h5 {
        font-family: $bold;
      }
    }

  }
}

.checkout-block {
  padding: 2rem;

  .row {
    div {
      margin-top: 2rem;

      @media screen and (min-width: $tablet) {
        margin-top: 0;
      }
    }
  }

  .checkout-block__items-detail {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1.5rem;

    .checkout-block__items {
      display: flex;
      flex-wrap: wrap;

      .checkout-block__product-card {
        border: 1px solid lightgray;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;

        img {
          object-fit: cover;
          min-height: 12rem;
          width: 100%;
        }

        p {
          padding: 1rem;
        }
      }
    }
  }

  .checkout-block__purchase-details {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    >div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.checkout-block__subtotal {
        h6 {
          color: gray;
        }

        h5 {
          color: gray;
          font-family: $bold;
        }
      }

      &.checkout-block__discounts {
        h6 {
          color: $red-color;
        }

        h5 {
          color: $red-color;
          font-family: $bold;
        }
      }

      &.checkout-block__total {
        margin-top: 2rem;

        h3 {
          font-family: $bold;
        }

        h4 {
          font-family: $bold;
        }
      }

    }
  }

  button {
    width: 100%;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
  }
}

.confirmation-block {
  padding: 2rem;

  .row {
    div {
      margin-top: 2rem;

      @media screen and (min-width: $tablet) {
        margin-top: 0;
      }
    }
  }

  .confirmation-block__items-detail {
    border-radius: 5px;

    .confirmation-block__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid lightgray;
      padding: 1.5rem;

      div {
        i-feather {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .confirmation-block__items {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid lightgray;
      padding: 1.5rem;

      .confirmation-block__purchase-info {
        margin-top: 1rem;
        padding: 1rem;
        background-color: lightgray;

        small {
          display: block;

          &:first-child {
            font-family: $bold;
            margin-bottom: 1rem;
          }

          &:nth-child(2) {}
        }
      }
    }
  }

  .confirmation-block__links {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    padding: 1.5rem;

    ul {
      list-style: circle;
      margin-left: 1rem;

      li {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

/* openpay */
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";

* {
  color: #444;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

body {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

strong {
  font-weight: 700;
}

a {
  cursor: pointer;
  display: block;
  text-decoration: none;
}

a.button {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  padding: 12px 0;
  width: 100%;
  display: table;
  background: #E51F04;
  background: -moz-linear-gradient(top, #E51F04 0%, #A60000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E51F04), color-stop(100%, #A60000));
  background: -webkit-linear-gradient(top, #E51F04 0%, #A60000 100%);
  background: -o-linear-gradient(top, #E51F04 0%, #A60000 100%);
  background: -ms-linear-gradient(top, #E51F04 0%, #A60000 100%);
  background: linear-gradient(top, #E51F04 0%, #A60000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E51F04', endColorstr='#A60000', GradientType=0);
}

a.button i {
  margin-right: 10px;
}

a.button.disabled {
  background: none repeat scroll 0 0 #ccc;
  cursor: default;
}

.bkng-tb-cntnt {
  float: left;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 800px;
  }
}

.bkng-tb-cntnt a.button {
  color: #fff;
  float: right;
  font-size: 18px;
  padding: 5px 20px;
  width: auto;
}

.bkng-tb-cntnt a.button.o {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #e51f04;
  border: 1px solid #e51f04;
}

.bkng-tb-cntnt a.button i {
  color: #fff;
}

.bkng-tb-cntnt a.button.o i {
  color: #e51f04;
}

.bkng-tb-cntnt a.button.right i {
  float: right;
  margin: 2px 0 0 10px;
}

.bkng-tb-cntnt a.button.left {
  float: left;
}

.bkng-tb-cntnt a.button.disabled.o {
  border-color: #ccc;
  color: #ccc;
}

.bkng-tb-cntnt a.button.disabled.o i {
  color: #ccc;
}

.pymnts {
  float: left;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 800px;
  }
}

.pymnts * {
  float: left;
}

.sctn-row {
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 800px;
    margin-bottom: 35px;
  }
}

.sctn-col {
  width: 375px;
}

.sctn-col.l {
  width: 425px;
}

.sctn-col input {
  border: 1px solid #ccc;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 12px;
  width: 333px;
}

.sctn-col label {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  width: 100%;
}

.sctn-col.x3 {
  width: 300px;
}

.sctn-col.x3.last {
  width: 200px;
}

.sctn-col.x3 input {
  width: 210px;
}

.sctn-col.x3 a {
  float: right;
}

.pymnts-sctn {
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 800px;
  }
}

.pymnt-itm {
  /*margin: 0 0 3px;*/
  margin: 0;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 800px;
  }
}

.pymnt-itm h2 {
  background-color: #e9e9e9;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 28px 0 28px 20px;
  /*width: 780px;*/
}

.pymnt-itm.active h2 {
  cursor: default;
}

.pymnt-itm div.pymnt-cntnt {
  display: none;
}

.pymnt-itm.active div.pymnt-cntnt {
  background-color: #f7f7f7;
  display: block;
  padding: 0 0 30px;
  width: 100%;
}

.pymnt-cntnt div.sctn-row {
  width: 100%;
  padding: 1rem 2rem;

  @media screen and (min-width: $tablet) {
    width: 740px;
    margin: 20px 30px 0;
    padding: 0;
  }
}

.pymnt-cntnt div.sctn-row div.sctn-col {
  width: 345px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.l {
  width: 395px;
  margin-bottom: 1rem;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.pymnt-cntnt div.sctn-row div.sctn-col input {
  width: 303px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.half {
  width: 155px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
  float: left;
  width: 190px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.half input {
  width: 113px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
  background-image: url("../../../assets/img/cvv.png");
  background-position: 156px center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  /* margin-top: 1rem;

    @media screen and (min-width: $tablet) {
      margin-top: 0;
    } */
}

.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
  width: 110px;
}

.openpay {
  float: right !important;
  display: flex;
  padding: 1rem 2rem;

  @media screen and (min-width: $tablet) {
    margin: 10px 30px 0 0;
    height: 60px;
    display: block;
    padding: 0;
  }

  /*width: 435px;*/
}

.openpay div.logo {
  background-image: url("../../../assets/img/openpay.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  border-right: 1px solid #ccc;
  font-size: 12px;
  font-weight: 400;
  height: 70px;
  padding: 15px 20px 0 0;

  width: 50%;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.openpay div.shield {
  background-image: url("../../../assets/img/security.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
  padding: 20px 0 0 40px;

  width: 50%;

  @media screen and (min-width: $tablet) {
    width: 400px;
  }
}

.card-expl {
  float: left;
  margin: 20px 0;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 800px;
    height: 80px;
  }
}

.card-expl div {
  background-position: 1rem 30px, 200px 30px, 1rem 60px;
  background-repeat: no-repeat;
  height: 70px;
  padding-top: 10px;

  @media screen and (min-width: $tablet) {
    background-position: left 45px, 180px 45px, 350px 45px
  }
}

.card-expl div.debit {
  background-image: url("../../../assets/img/cards2.png"), url("../../../assets/img/cards3.png"), url("../../../assets/img/cards4.png");
  width: 100%;
  padding-left: 1rem;
  height: 100px;
  
  @media screen and (min-width: $tablet) {
    width: 540px;
    margin-left: 20px;
    padding-left: 0;
    height: 70px;
  }
}

.card-expl div.credit {
  background-image: url("../../../assets/img/cards1.png");
  border-right: 1px solid #ccc;
  width: 100%;
  padding-left: 1rem;
  
  @media screen and (min-width: $tablet) {
    width: 209px;
    margin-left: 30px;
    padding-left: 0;
  }
}

.card-expl h4 {
  font-weight: 400;
  margin: 0;
}

.toRight {
  float: right !important;
  margin-right: 20px !important;
}

.red {
  color: #FF0000;
}
